# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vscode
esp32-c6/.clangd
/esp32-c6/.devcontainer
/esp32-c6/.vscode
esp32-gateway/.clangd
/esp32-gateway/.devcontainer
/esp32-gateway/.vscode
